<h3>Store Name: <%= @store.name %></h3>
<h4>Location: <%= @store.location %></h4>

 <a href="/stores/<%= @store.id %>/shoes/new">Add Shoe Brand</a>

<hr>

<% if !@store.shoes.empty? %>
<h4><%= @sub_header_instructions %></h4>
    <ul>
      <% @store.shoes.each do |shoe| %>
          <li><%= shoe.brand %></li>
      <% end %>
    </ul>
<% end %>





<a href="/">home</a>
